extends layout.pug
block content
           div(class="card" style="width: 18rem;")
            img(src="..." class="card-img-top" alt="...")
            .card-body
              h3.card-text= text
              if hint
               p
                i Hint: #{hint}