extends layout.pug
block content
           div(class="card" style="width: 18rem;")
            img(src="..." class="card-img-top" alt="...")
            .card-body
              h2.card-title Card title
              h5.card-text= prompt
              if hint
               p
                i Hint: #{hint}
              