extends layout.pug
block content 
   form(action='/hello', method='post')
      label Please enter your name:
        input(type='text', name='username')
      .row
        div(class='col-sm ml-2')
           button(class='btn btn-primary btn-sm mb-2' type='submit') Submit
             
             
      
      
      
      
      
      
      
      
      
    
      